// Variables
@import 'style';

// Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.bg-points{
  background-image: radial-gradient( rgba(0, 153, 255,.3) 1px, #ECF0F3 1px);
  background-position: 0 0, 10px 10px;
  background-size: 30px 30px;
  padding: 0;
  margin: 0; 
}
*{
  outline-width: 0;
  outline: none;
}

// .logo-text{
//   background: -webkit-linear-gradient(to right, #3494e6, #ec6ead); /* Chrome 10-25, Safari 5.1-6 */
//   background: linear-gradient(to right, #3494e6, #ec6ead); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }
.card-form{
  @apply rounded-container shadow-card_form bg-white flex flex-col items-center justify-center overflow-hidden
}
.card-title{
  @apply text-2xl font-medium text-carbon-500 p-3 text-center w-full
}
.card-body{
  @apply px-5 pb-5 w-full
}
.label-form{
  @apply text-label uppercase inline-block text-gray-500 mb-1
}
.input-form{
  @apply py-2 px-3 w-full rounded border border-gray-300 
}
.input-form:focus{
  @apply outline-none shadow-outline 
}
.input-invalid{
  @apply border-red-400
}
.input-invalid:focus{
  @apply shadow-none
}
.button-form{
  @apply tracking-widest block p-3 uppercase text-center text-xs w-full rounded border border-transparent font-medium
}
.link-form{
  @apply block text-xs text-p_blue-500 mt-5
}
.novalid-input{
  @apply p-2 text-center border-l-2 border-red-400 text-red-500 bg-red-100 font-light block my-1 text-xs
}
.gradient-title{
  background: -webkit-linear-gradient(to left, #ffc400, #db36a4); 
  background: linear-gradient(to left, #ffc400, #db36a4); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}